<header id="header">
  <h1>todos</h1>
  {{view "Todo.TodoNewItemControl"}}
</header>

{{#view id="main" tag="section" displayObserveBinding="Todo.todoAppController.displayItems"}}
  {{view "Todo.CheckboxControl" id="toggle-all" valueObserveBinding="Todo.todoAppController.allChecked" checkAction="Todo.todoAppController.setCheckAll" typeHtml="checkbox"}}
 
  <label for="toggle-all">Mark all as complete</label>

  {{collection "Todo.TodoItemView" collectionObserveBinding="Todo.todoAppController.items" id="todo-list" filterAttribute="completed" filterTextObserveBinding="Todo.todoAppController.completedfilter"}}
{{/view}}

<footer id="footer">
  <span id="todo-count">{{bind "Todo.todoAppController.itemCount" tag="strong"}} items left</span>
  {{view "Todo.TodoFiltersView" modeObserveBinding="Todo.todoAppController.mode"}}
  {{view "Todo.TodoClearCompletedControl" valueObserveBinding="Todo.todoAppController.completedItemCount"}}
</footer>