<header id="header">
  <h1>todos</h1>
  {{view "App.TodoNewItemView"}}
</header>
{{#view id="main" tag="section" displayBinding="App.todoAppController.displayItems"}}
  <input {{action "toggleAllVisible" target="App.todoAppController"}} id="toggle-all" type="checkbox">
  <label for="toggle-all">Mark all as complete</label>
  {{collection "App.TodoItemView" collectionObserveBinding="App.todoAppController.items" id="todo-list" filterAttribute="completed" filterTextObserveBinding="App.todoAppController.completedfilter"}}
{{/view}}
<footer id="footer">
  <span id="todo-count">{{bind "App.todoAppController.itemCount" tag="strong"}} items left</span>
  {{view "App.TodoFiltersView" modeObserveBinding="App.todoAppController.mode"}}
  <button id="clear-completed" {{action "clearCompleted" target="App.todoAppController"}}>Clear completed ({{bind "App.todoAppController.completedItemCount"}})</button>
</footer>