<li>
  <a id="{{id}}-all" {{action "displayAll" target='Todo.todoAppController'}}>All</a>
</li>
<li>
  <a id="{{id}}-active" {{action "displayActive" target="Todo.todoAppController"}}>Active</a>
</li>
<li>
  <a id="{{id}}-completed" {{action "displayCompleted" target="Todo.todoAppController"}}>Completed</a>
</li>