<header id="header">
  <h1>{{i18n "todo.todos"}}</h1>
  {{view "Todo.NewItemControl"}}
</header>

{{#view id="main" tag="section" displayObserveBinding="Todo.appController.displayItems"}}
  {{view "Todo.CheckboxControl" id="toggle-all" valueObserveBinding="Todo.appController.allChecked" checkAction="Todo.appController.setCheckAll" typeHtml="checkbox"}}
 
  <label for="toggle-all">{{i18n "todo.markAllAsComplete"}}</label>

  {{collection "Todo.ItemView" collectionObserveBinding="Todo.appController.items" id="todo-list" filterAttribute="completed" filterTextObserveBinding="Todo.appController.completedfilter"}}
{{/view}}

<footer id="footer">
  <span id="todo-count">{{bindI18n "todo.itemCount" ITEMSObserveBinding="Todo.appController.itemCount" tag='strong'}}</span>
  {{view "Todo.FiltersView" modeObserveBinding="Todo.appController.mode"}}
  {{view "Todo.ClearCompletedControl" valueObserveBinding="Todo.appController.completedItemCount"}}
</footer>