<li>
  <a id="{{id}}-all" href="#/">{{i18n "todo.all"}}</a>
</li>
<li>
  <a id="{{id}}-active" href="#/active">{{i18n "todo.active"}}</a>
</li>
<li>
  <a id="{{id}}-completed" href="#/completed">{{i18n "todo.complete"}}</a>
</li>