<li>
  <a id="{{id}}-all" {{action "displayAll" target='App.todoAppController'}}>All</a>
</li>
<li>
  <a id="{{id}}-active" {{action "displayActive" target="App.todoAppController"}}>Active</a>
</li>
<li>
  <a id="{{id}}-completed" {{action "displayCompleted" target="App.todoAppController"}}>Completed</a>
</li>